# Importing Libraries

In [88]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
import warnings
warnings.filterwarnings('ignore')

# Loading Dataset

In [89]:
data = pd.read_csv("passwords.csv",error_bad_lines=False,low_memory=False)

In [90]:
data.head()

,password,strength,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,kzde5577,1,NaN,NaN,NaN,NaN,NaN
1,kino3434,1,NaN,NaN,NaN,NaN,NaN
2,visi7k1yr,1,NaN,NaN,NaN,NaN,NaN
3,megzy123,1,NaN,NaN,NaN,NaN,NaN
4,lamborghin1,1,NaN,NaN,NaN,NaN,NaN

In [91]:
data = data[['password','strength']]

In [92]:
data.head()

      password strength
0     kzde5577        1
1     kino3434        1
2    visi7k1yr        1
3     megzy123        1
4  lamborghin1        1

In [93]:
data.shape

(669878, 2)

# Handling Missing Values

In [94]:
data.isna().sum()

password    1
strength    0
dtype: int64

In [95]:
data = data.dropna()

# Password Strength Prediction Model

In [96]:
def word(password):
    character=[]
    for i in password:
        character.append(i)
    return character
  
X = np.array(data["password"])
y = np.array(data["strength"])

tdif = TfidfVectorizer(tokenizer=word)
X = tdif.fit_transform(X)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.05, random_state=42)

# Random Forest Classifier

In [ ]:
rfc_model = RandomForestClassifier()
rfc_model.fit(X_train,y_train)
print(rfc_model.score(X_test,y_test))

In [ ]:
import getpass
user = getpass.getpass("Enter Password: ")
data = tdif.transform([user]).toarray()
output = rfc_model.predict(data)
print(output)